/* Write all your CSS here */
/* Please indent properly */
/* Please use only lower-case letters */
/* Your webpage should be 100% responsive!!! */
/* Write all your CSS here */
/* Please indent properly */
/* Please use only lower-case letters */
/* Your webpage should be 100% responsive!!! */
body {
    margin:0;
    padding:0;
 }
 #slack-sec-a {
     display: flex;
     flex-direction: row;
     height:100%;
 }

 .fig-side{
 align-items: center;
 margin-left: 20px;
 
 }
 .figures {
     background-color:#200720;
    display: flex;
    width: 60px;
 }
 figcaption  {
     text-align: center;
     color:white;
     font-size:1em;
 }
 #sidebar-head {
     background-color: #3f0e40;
     display: flex;
     flex-direction: column;
     padding:25px;
    
 }
 .logos {
     display:flex;
     justify-content: space-between;
 }
 .bell-logo {
   display: flex;
     align-items: center;
     margin-right: 5px;
     color:#b29db3;
 }
 .bell-logo:hover{
     color:white;
 }
 h1 {
 color:white;
 }
 h1:hover {
     color:white;
 }
 .circle-logo i {
  color:green;
 }
 h2 {
     color:#9a8498;
 }
 h2:hover {
     color:white;
 }
 h3 {
     color:#9a8498;
     display:flex;
     justify-content: space-between;
     margin-left:2px;
 }
 h3:hover {
     color:white;
 }
 h4 {
     color:#ebe5eb;
 }
 h4:hover {
     background-color: #260027;
 }
 h3 i {
     color:#b29db3;
 }
 .search {
     margin-left:5px;
 }
 
 ul {
     list-style-type: none;
     padding:0;
     margin-left:2px;
 }
 ul li a {
     text-decoration: none;
     color:#b29db3;
     margin:1px;
     padding:1px;
     font-size: 1.1em;
 }
 
 .main-nav i {
     color:#b29db3;
 }
 .main-nav i:hover {
     background-color:#260027;
 }
 .nav-side i {
     color:green;
 }
 .nav-side i:hover {
     background-color: #260027;
 }
 .nav-bar i {
 color:#b29db3;
 }
 ul li a:hover {
     background-color:#260027;
 }
 
 .Main-head {
     display:flex;
     justify-content:space-between;
     line-height: 2px;
 } 
 .student-info h1 {
     color:black;
     margin-left:10px;
     padding:0 4px;
 }
 .student-info i {
     padding:5px;
     margin-left:10px;
     border-right:1px solid #dadadabf;
     color:#8f8e8fe3;
 }
 
 .header {
     display: flex;
  justify-content: center;
    margin-top:40px;
    /* margin-left:150px;
    padding-left:100px; */
     }
 .header a {
     display: flex;
     align-content: flex-end;
     padding-left:20px;
    color:#b29db3;
     text-decoration:none;
 }
 .header a:hover{
     color:blue;
 }
 .header i {
     font-size:1.1em;
     /* padding-left:20px; */
 }
 input {
     /* padding:2px; */
     border-radius:4px;
 }
 fieldset{
     border-right: none;
     border-bottom: none;
     border-left: none;
     border-color: #dddddd;
     border-width: 0.5px;
     text-align: center;
 }
.Images-section {
    display: flex;
    /* width:100%; */
    margin:12px;
}
.left-images {
    border-radius:12px;
    margin:6px;
}
#my-picture {
    position: relative;
}
#my-picture .icon {
    position: absolute;
    background-color:#f8f8f8;
    margin:5px;
    padding:10px;
    right:0;
    top:0;
    font-size:1.2em;
}
#my-picture .icon i {
    color:blue;
}
 .icon i:hover {
  background-color: #3f0e40;
 }
 #images-side {
     display:flex;
     margin:12px;
 }

.bottom-images {
    width:40px;
    border-radius: 4px;
    margin-left:5px;
}
.para {
    font-size: 1.1em;
    margin:8px;
}
.heart i {
    color:red;
}
.beam i {
   color:yellow;
}
.laugh-heart i {
    color:yellow;
}
.tears i {
    color:yellow;
}
.smile i {
    color:yellow;
}
#right-side-icons {
    color:blue;
    margin-left:40px;
}


 @media screen and (max-width:400px) {
#slack-sec-a {
    flex-direction: column;
}
#sidebar-head {
    width:120%;
    height:auto;
}
.figures {
    display: none;
}
#right-side-icons {
    color:blue;
}
.Main-head {
    display:flex;
    line-height: 2px;
} 
.Images-section {
    display: flex;
    margin:12px;
}
 }
 @media screen  and (min-width:600px) and (max-width:900px) {
    #slack-sec-a {
        flex-direction:row;
    }
    .figures {
        display: none;
    }
 }
